body 
{
    direction:rtl;
    background-image:url(../images/20150307_111953.jpg);
    background-size:cover;
    line-height:150%;

}
#container{
    width:960px;
    margin:auto;
    height:300px;
  
}
header{
    width:100%;
    height:45px;
}

nav{
    width: 960px; 
    list-style:none;
    height:45px;
}

nav ul li{
    display:inline-block;
    float:right;
    width: 25%; 
}
nav ul li:hover a{
    background-color:darkseagreen;
}

nav ul li a{
    display: block;
    background-color: #2f2f33; 
    color: white; 
    height: 30px; 
    padding-top: 10px; 
    text-decoration: none; 
    text-align: center;

}

/*דף הבית*/

#homepage{

    background-color:rgba(240,248,255,0.70);
    font-size: medium;
    padding: 15px;
    margin-top: 150px;
    width: 29%;
}

#btn {

    width: 150px;
    text-align: center;
    background-color: darkolivegreen;
    color: white;
    border-radius: 5px;
    height: 30px;
    display: inline-block;
    text-decoration: none;
    padding-top: 5px;
    font-weight: bold;
}

#btn:hover{

    color:darkseagreen;
}

/*הגדרות דפי ארגון וייצוג ידע, פסיכולוגיה ותקשורת*/

#hirgon , #psychology , #tikshoret{

   background-color:rgba(240,248,255,0.8);
   margin-top: 30px;
   height: 653px;
}

#hirgon h1, #psychology h1 , #tikshoret h1{

    padding-top:20px;
}

.data{

    font-weight: bold; 
    margin-bottom:10px;
    padding: 20px 144px 15px;

}

/*הגדרות כלליות*/

h1{

    font-size:larger;
    text-align:center;
    color:darkolivegreen;

}

p {
    padding-top:10px;
    
}

#selected{

    background-color:darkolivegreen;
}

/*תמונות בדף תקשורת חזותית*/
#one{
       
    height: 180px;
    width: 290px;
    margin-bottom: 35px;
    margin-right: 145px;

}

#image{
           
    height: 180px;
    width: 290px;
    margin-bottom: 35px;
    padding-right: 75px;
  
}

/*תמונה בדף פסיכולוגיה*/

#Jews{
           
    height: 252px;
    width: 380px;
    margin-top: 50px;
    margin-right: 285px;
}

/*תמונה בדף ארגון וייצוג ידע*/

#shelly{
          
    height: 275px;
    width: 45%;
    margin-top: 5px;
    margin-right: 265px;
    
}

/*סרטון יוטיוב בדף תקשורת חזותית*/

#sirton{

    margin-right: 355px;
    margin-top: 10px;
   
}

/*קטע אודיו בדף ארגון וייצוג ידע*/

#audio{
    
    margin-top: 10px;
    margin-right: 330px;
}
  





















