body 
{
   direction:rtl;
   background-image:url(../images/portadaFondo.png);
   background-repeat:no-repeat;
   background-size:cover;
}

#container{

    width:960px;
    margin:0 auto;
    height:650px;
    background-image:url(../images/tablet-1593045_640.png);
    background-size:cover;
}

label{
     display:block;
     margin-top:10px;
}

#scren{
    padding:104px;
}


h1{
    text-align:center;
    color:blue;
    margin-bottom:15px;
    font-size:25pt;
}

#sisma{

    text-align:center;
    color:palevioletred;
    font-size:15pt;
    font-weight:bold;
}

section h2{

    display: block;
    margin-bottom:10px;
    margin-top: 30px;
}

section{

    width:365px;
}

form{

    margin-right:440px;
    margin-top:-150px;
}

input{

    margin-top:10px;
}





